@import url("http://fonts.cdnfonts.com/css/valorant");
@import url(//db.onlinewebfonts.com/c/561f38b1f4570de0fb8a39d691ab058c?family=Tungsten+Bold);
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
:root {
  --valorant-font: "VALORANT", sans-serif;
  --tungsten-font: "Tungsten Bold";
  --valorant-code-font: "Nanum Gothic Coding", monospace;
}

section {
  margin-bottom: 15rem;
}
.video_section {
  background-color: aqua;
  padding: 0 !important;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 5% 100%, 0 90%);
  height: 40rem;
  position: relative;
}
.video_section .video_text {
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 1;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.37);
}
.video_section .sub--title {
  font-size: 1rem;
  font-weight: 700;
}
.video_section .title {
  font-size: 8rem;
  font-family: var(--valorant-font);
}

.video_section .play-btn .btn {
  background-color: red;
  color: #fff;
  width: 15rem;
  height: 3.5rem;
  position: relative;
  outline: 2px solid rgba(255, 255, 255, 0.397);
  outline-offset: 10px;
  border-radius: 0;
  transition: 0.3s ease-out;
  background: linear-gradient(to left, red 50%, black 40%) right;
  background-size: 200%;
}
.video_section .play-btn .btn:hover {
  outline-offset: 2px;
  background-position: left;
}

.video_section .play-btn .btn span {
  position: absolute;
  left: 35%;
  top: 30%;
  font-weight: 800;
  font-size: 0.9rem;
}
.video_section video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: -10rem;
  min-width: 100%;
  min-height: 100%;
}
.latest_news_section .card {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.image-hover {
  background-color: rgb(121, 3, 3);
  transition: 0.3s ease-out;
  background: linear-gradient(
      -45deg,
      rgb(0, 0, 0) 50%,
      rgba(170, 0, 0, 0.698) 40%
    )
    right;
  background-size: 300%;
}
.latest_news_section .card:hover .card-img-top {
  opacity: 10%;
}
.latest_news_section .card:hover .image-hover {
  background-position: left;
}
.latest_news_section .card .card-date {
  font-size: 0.9rem;
}
.latest_news_section .card .card-type {
  font-size: 0.9rem;
  color: #fe505d;
}
.latest_news_section .card .card-sup-text {
  font-size: 1.19rem;
  font-weight: 700;
}
.latest_news_section .latest-news-title {
  color: #ff4655;
  font-weight: 800;
  font-size: 7rem;
  letter-spacing: 0px;
  transform: scaleY(1.2);
  font-family: var(--tungsten-font);
}
.latest_news_section .latest-news-title-row {
  position: relative;
}
.latest_news_section .latest-news-title-row .col {
  margin-bottom: -0rem;
  z-index: 1;
  position: absolute;
  top: -6.5rem;
}

.we-are-valorant-section .container {
  max-width: 100% !important;
}
.we-are-valorant-section .we-are-valorant-title {
  font-family: var(--tungsten-font);
  font-size: 8rem;
}
.we-are-valorant-section .valorant-code {
  position: relative;
  transform: rotate(180deg);
  height: 100%;
}
.we-are-valorant-section .valorant-code small {
  color: red;
  position: absolute;
  left: 0;
  font-family: var(--valorant-code-font);
  font-size: 0.7rem;
  font-weight: 800;
  border-top: 4px solid red;
}
.we-are-valorant-section .video-container {
  width: 100%;
  position: relative;
  height: 25rem;

  background-image: url("/src/assets/images/videoBackground.jpg");
}
.we-are-valorant-section .video-container::before {
  content: "";
  position: absolute;
  top: -2rem;
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background-color: red;
}
.we-are-valorant-section .video-container::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  width: 5rem;
  height: 0.4rem;
  background-color: red;
}
.we-are-valorant-section .left-side {
  padding: 0 5rem;
}
.we-are-valorant-section .left-side h6 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.we-are-valorant-section .left-side p {
  color: #808982;
  font-family: serif;
  text-align: justify;
  margin-bottom: 2.4rem;
}
.we-are-valorant-section .left-side a {
  text-decoration: none;
  color: #ff4655;
  transition: 0.3s;
}
.we-are-valorant-section .left-side a:hover {
  color: #000;
}

.we-are-valorant-section .paly-icon {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 40%;
  left: 45%;
  outline: 1px solid #fff;
  transition: 0.3s ease-out;
  background: linear-gradient(-80deg, #ff4655 50%, rgb(0, 0, 0) 40%) right;
  background-size: 300%;
}
.we-are-valorant-section .video-container:hover {
  cursor: pointer;
}
.we-are-valorant-section .video-container:hover .paly-icon {
  background-position: left;
}
.we-are-valorant-section .paly-icon svg {
  font-size: 2rem;
  margin-top: 1.6rem;
  margin-left: 1.6rem;
  color: #fff;
}

.agents_section-0 {
  margin-bottom: 0 !important;
  width: 100%;
  height: 5rem;
  z-index: -1;
  position: relative !important;
  background-color: #ff4655;
  padding: 2rem;
  clip-path: polygon(6% 50%, 100% 50%, 100% 100%, 100% 100%, 0% 100%, 0 0);
}
.agents_section {
  width: 100%;
  position: relative !important;
  height: 40rem;
  background-color: #ff4655;
  padding: 2rem;
  z-index: -1;
}
.con {
  position: absolute !important;
  z-index: 2;
}

.agents_section img {
  margin-left: -20rem;
  /* width: 90rem; */
}
.agents_section .right-side {
  margin-top: 5rem;
  color: #ece8e1;
}
.agents_section .right-side .row {
  padding: 0;
  margin-top: 1rem;
}
.agents_section .right-side .row:last-child {
  justify-content: center;
}
.agents_section .right-side h2 {
  font-family: var(--tungsten-font);
  font-size: 5.6rem;
}
.agents_section .right-side h5 {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.agents_section .right-side p {
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
}
.agents_section .right-side .btn {
  transition: 0.3s ease-out;
  background: linear-gradient(
      -45deg,
      rgb(255, 255, 255) 50%,
      rgba(0, 0, 0, 0.698) 50%
    )
    right;
  background-size: 300%;
  width: 15rem;
  height: 3rem;
  padding-top: 0.6rem;
  font-weight: 700;
  outline: 1px solid #fff;
  outline-offset: 10px;
  border-radius: 0;

}

.agents_section .right-side .btn:hover {
  background-position: left;
  color: #fff;
}

.map-section {
  padding: 0;
  width: 100%;
  height: 50rem;
  background-image: url("/src/assets/images/home.png");
  background-size: contain;
  background-position: 25rem;
  background-repeat: no-repeat;
  margin-top: -22rem;
  z-index: -1;
  margin-bottom: 0;
}
.map-section .container .first-row{
  margin-bottom:20rem;
}

.map-section .right-side .row {
  padding: 0;
  margin-top: 1rem;
}

.map-section .right-side h2 {
  font-family: var(--tungsten-font);
  font-size: 8rem;
}
.map-section .right-side h5 {
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}
.map-section  .right-side p {
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
}
.map-section .right-side .btn {
  transition: 0.3s ease-out;
  background: linear-gradient(
      -45deg,
      #ff4655 50%,
      rgba(0, 0, 0, 0.698) 50%
    )
    right;
  background-size: 300%;
  width: 15rem;
  height: 3rem;
  padding-top: 0.6rem;
  font-weight: 700;
  outline: 1px solid #fff;
  outline-offset: 10px;
  border-radius: 0;
  color: #fff;

}

.map-section  .right-side .btn:hover {
  background-position: left;
  
}
.back-text-con{
position: absolute;
z-index: -13;
opacity: 50%;
}
.back-text{
  transform: translateY(-66.7799px);
  left: 0;
  font-family: var(--tungsten-font);
  top: 40rem;
  z-index: -13;
  line-height: .82;
  white-space: nowrap;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.356);
}
.back-text span{
  font-size: 30rem;
  display: block;
  color: #ece8e1;
}
.line{
  width: 4.2rem;
  height: 250rem;
  /* background-color: red; */
  transform: rotate(0deg);
  position: absolute;
  left: 0px;
  border-right:1px solid rgb(255, 255, 255);
  z-index: -15;
  background-image: url("/src/assets/images/backgroundSprite.png");
  background-repeat: space;
}